.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container_agenda {
    width: 711px;
    height: 60px;

    .container_header {
      display: flex;
      justify-content: space-between;

      .header_title {
        h1 {
          color: var(--color-content-primary);
          font: var(--font-title);
          margin-bottom: 4px;
        }
        p {
          color: var(--color-content-secondary);
          font: var(--font-paragraph-medium);
        }
      }
    }
  }

  .header_text-field {
    img {
      width: 20px;
      height: 20px;
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    input {
      background-color: transparent;
      color: var(--color-content-secondary);
      font: var(--font-paragraph-medium);
      border: none;
    }
  }

  .header_text-field .calendar {
    left: 32px;
  }

  .header_text-field input[type="date"] {
    padding-right: 10px; /* espaço para não colidir com o arrow */
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid var(--color-content-secondary);
    border-radius: 4px;
    font-size: 14px;
  }

  /* Esconde o ícone nativo */
  .header_text-field input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
  }

  /* Ajuste opcional para o ícone de arrow */
  .header_text-field img:last-of-type {
    right: 30px;
    pointer-events: none;
    width: 16px;
    height: 16px;
  }
}
