#modal {
  position: relative;
  input[name="tutor-name"] {
    background: url(../assets/user.svg) 0.75rem center/ 1.25rem no-repeat;
  }
  input[name="pet-name"] {
    background: url(../assets/pet.svg) 0.75rem center/ 1.25rem no-repeat;
  }
  input[name="fone"] {
    background: url(../assets/phone.svg) 0.75rem center/ 1.25rem no-repeat;
  }
  input[name="date"] {
    background: url(../assets/calendar.svg) 0.75rem center/ 1.25rem no-repeat;
  }
  input[name="time"] {
    background: url(../assets/clock.svg) 0.75rem center/ 1.25rem no-repeat;
  }

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 477px;
  height: 716px;
  background-color: var(--color-background-tertiary);
  border-radius: 12px;
  padding: 40px;

  .modal-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 397px;
    height: 60px;
    h1 {
      font: var(--font-title);
      color: var(--color-content-primary);
    }
    p {
      font: var(--font-paragraph-medium);
      color: var(--color-content-secondary);
    }
  }

  form {
    width: 397px;
    height: 477px;
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    width: 397px;
    /* height: 60px; */
    position: relative;
    margin-top: 16px;

    label {
      color: var(--color-content-primary);
      font: var(--font-paragraph-medium);
    }

    input {
      border: 1px solid #3e3c41;
      border-radius: 8px;
      padding: 12px;
      background-color: transparent;
    }

    textarea {
      border: 1px solid #3e3c41;
      border-radius: 8px;
      padding: 2px;
      background-color: transparent;
      resize: none;
      width: 397px;
      color: var(--color-content-secondary);
    }

    #service-description {
      width: 397px;
      height: 109px;
    }

    input::placeholder {
      padding-left: 40px;
      color: var(--color-content-secondary);
    }

    textarea::placeholder {
      padding: 12px 12px;
    }
  }

  .time-and-hour {
    display: flex;
    gap: 16px;
    img {
      position: relative;
      width: 20px;
      height: 20px;
      left: 165px;
      top: -30px;
    }
    .input-wrapper {
      width: 190px;
      height: 76px;
    }
  }

  .time-and-hour input[type="date"] {
    padding-right: 10px; /* espaço para não colidir com o arrow */
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid var(--color-content-secondary);
    border-radius: 4px;
    color: var(--color-content-secondary);
    font-size: 14px;
  }

  .time-and-hour input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .time-and-hour input[type="time"] {
    padding-right: 10px; /* espaço para não colidir com o arrow */
    padding-left: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid var(--color-content-secondary);
    border-radius: 4px;
    font-size: 14px;
    color: var(--color-content-secondary);
  }

  .time-and-hour input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .input-wrapper input:focus,
  .input-wrapper textarea:focus {
    border: 1px solid var(--color-background-highlights);
    outline: none;
  }
}
